
<footer>
    <div class="content">
        <div id="emailsignup">
            <a href="https://www.proxibid.com/" class="footer-logo">Proxibid</a>
            <p>Stay in the know. Receive our weekly newsletter and stay on top of what's available on Proxibid.<br style="margin: 0 0 12px 0;"><a href="//www.proxibid.com/marketingimages/masterblaster.html">View this week's newsletter</a></p>
            <p><a href="http://proxibidcontent.com/email-sign-up" class="btn" style="display:inline-block; background-color: #dc3545 ;">Sign up for our newsletter</a></p>
        </div>
        <div id="helpfullinks">
            <div>
                <p class="category"><a href="http://proxibidcontent.com/about-us/">About us</a></p>
                <ul>
                    <li><a href="https://www.proxibid.com/asp/Help.asp">Help</a></li>
                    <li><a href="https://www.proxibid.com/asp/contactus.asp">Contact us</a></li>
                    <li><a href="http://proxibidcontent.com/leadership/">Leadership</a></li>
                    <li><a href="http://proxibidcontent.com/careers/">Careers</a></li>
                    <li><a href="http://proxibidcontent.com/our-newsroom/">Newsroom</a></li>
                    <li><a href="https://sites.proxibid.com/advertising/">Advertise with us</a></li>
                    <li><a href="https://www.proxibid.com/asp/UnifiedUserAgreement.asp" target="_blank">User agreement</a></li>
                    <li><a href="https://www.proxibid.com/asp/PrivacyPolicy.asp" target="_blank">Privacy policy</a></li>
                    <li><a href="https://uk.proxibid.com/" target="_blank">Proxibid UK</a></li>
                </ul>
            </div>
            <div>
                <p class="category"><a href="http://proxibidcontent.com/buying">Buying</a></p>
                <ul>
                    <li><a href="http://proxibidcontent.com/createaccount">Creating account</a></li>
                    <li><a href="http://proxibidcontent.com/navigating">Searching</a></li>
                    <li><a href="http://proxibidcontent.com/audiovideo">Using audio/video</a></li>
                    <li><a href="http://proxibidcontent.com/purchase">Purchasing</a></li>
                    <li><a href="http://proxibidcontent.com/shipping">Shipping</a></li>
                    <li><a href="http://proxibidcontent.com/feedbackratings">Giving feedback</a></li>
                    <li><a href="http://proxibidcontent.com/buyerresources">Buying resources</a></li>
                </ul>
            </div>
            <div class="last">
                <p class="category"><a href="http://proxibidcontent.com/selling">Selling</a></p>
                <a href="https://www.proxibid.com/asp/Auctioneer/AuctioneerHome.asp" class="btn">Seller login</a>
                <ul>
                    <li><a href="https://www.proxibid.com/asp/createSeller.asp?">Apply to sell</a></li>
                    <li><a href="http://proxibidcontent.com/buynow">Buy Now</a></li>
                    <li><a href="http://proxibidcontent.com/auction">Auction</a></li>
                    <li><a href="http://proxibidcontent.com/storefronts">Storefronts</a></li>
                    <li><a href="http://proxibidcontent.com/security">Security</a></li>
                    <li><a href="http://proxibidcontent.com/services">Services</a></li>
                    <li><a href="http://proxibidcontent.com/sellerresources">Selling resources</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div id="poweredby">
            <p>Powered by Proxibid</p>
            <ul>
                <li><a target="_blank" href="http://www.shopdivvy.com/" class="footer-divvy">Divvy</a></li>
                <li><a target="_blank" href="http://www.proxibid.com/asp/fine-art-auctions.asp" class="footer-finest">The Finest</a></li>
                <li class="last"><a target="_blank" href="http://www.auctionpaymentnetwork.com/" class="footer-apn">APN</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="social">
            <ul class="social">
                <li><a target="_blank" href="https://www.facebook.com/Proxibid?ref=ts">Facebook</a></li>
                <li><a target="_blank" href="https://twitter.com/proxibid">Twitter</a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/Proxibid">YouTube</a></li>
                <li class="last"><a target="_blank" href="https://www.linkedin.com/company/proxibid">LinkedIn</a></li>
            </ul>
            <div class="clear"></div>
            <ul class="contact">
                <li class="last">&copy;2001-2015 Proxibid, Inc.</li>
            </ul>
        </div>
        <iframe id="footerSealiFrame" src="https://www.proxibid.com/include/incFooterSeals.asp" allowtransparency="true" frameborder="0" scrolling="no" seamless="seamless"></iframe>
    </div>
</footer>

<!- Bootstrap core JavaScript -->
<script src="/style_products/jquery/jquery.min.js"></script>
<script src="/style_products/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Additional Scripts -->
<script src="/style_products/js/custom.js"></script>
<script src="/style_products/js/owl.js"></script>
<script src="/style_products/js/slick.js"></script>
<script src="/style_products/js/isotope.js"></script>
<script src="/style_products/js/accordions.js"></script>

<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {
        //declaring the array outside of the
        if (!cleared[t.id]) {
            // function makes it static and global
            cleared[t.id] = 1; // you could use true and false, but that's more typing
            t.value = ""; // with more chance of typos
            t.style.color = "#fff";
        }
    }
</script>
</body>

</html>-