<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="/style_products/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <!-- <link rel="stylesheet" href="./styles/style_products/css/ffontawesome.css" /> -->
    <link rel="stylesheet" href="/style_products/css/fontawesome.css" />
    <link rel="stylesheet" href="/style_products/css/templatemo-sixteen.css" />
    <link rel="stylesheet" href="/style_products/css/owl.css" />
    <title>
        <%= page_title %>
    </title>
    <style>
        .footer_logo {
            color: white;
            margin-right: 125px;
            padding-bottom: 15px;
        }

        .thumbnail img {
            height: 270px;
            width: 100%;
        }

        /* .row>div {
            height: 500px;
        } */
        img {
            height: 270px;
        }

        ul li {
            color: #444;

        }

        .logo {
            width: 35px;
            height: 30px;
            padding-right: 10px;
        }

        ul li a {
            color: #444;
            text-decoration: none;

        }

        .cpyryt {
            /* margin-bottom: 200px; */
            color: white;
            margin-left: center;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <div class="d-flex"> <img class="logo"
                            src="https://cdn-icons-png.flaticon.com/512/662/662177.png" />
                        <h2>Online <em>Clothing</em></h2>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/products">Our Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">My Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/checkout">Checkout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <form action="/users/logout" method="get">
                                <button type="submit" style="border-radius: 9px;
                                        background: #f33f3f;
                                        color: white;
                                        margin: 11px 0 0 0;
                                        cursor: pointer;
                                        ">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="pt-4"></div>
    <!-- <div class="pt-3"></div> -->