<%- include('./Partials/header.ejs') %>

    <div class="pt-5"></div>
    <h1 class="pt-5"></h1>
    <div class="container">
        <h2>Page Not Found(404). Back to <a href="/">Home</a></h2>
    </div>